body{background-color: #FFCCCC;}
h1{color: #FF6600b;
    background-color: crimson;}
p{color: #330099;
    background-color: darkseagreen;}
p.a{color: #330099;}
p.v{color: #FF0000;}
p.vd{color: #339933;}
