

.a1{
    list-style-type: disc;
    }

.a2{
    list-style-type: circle;
    }

.a3{
    list-style-type: square;
    }

.b1{
    list-style-type:decimal;
    }

.b2{
    list-style-type:lower-roman;
    }

.b3{
    list-style-type: upper-alpha ;
    }

.c1{
    list-style-image: url(1F4A1.png);
    }

.c2{
    list-style-image: url(1F4A1.png);
    }

.c3{
    list-style-image: url(1F4A1.png);
    }